{% for type in fabric_model %}
{% if fabric_model[type] != None %}
{% for sw,sw_data in fabric_model[type].items() %}
{{ sw }} ansible_host={{ sw_data['Mgmt'][:-3] }}
{% endfor %}
{% endif %}
{% endfor %}

[SPINES]
{% if fabric_model['SPINES'] != None %}
{% for sw in fabric_model['SPINES'].keys() %}
{{ sw }}
{% endfor %}
{% endif %}

[LEAVES]
{% if fabric_model['LEAVES'] != None %}
{% for sw in fabric_model['LEAVES'].keys() %}
{{ sw }}
{% endfor %}
{% endif %}

[BORDERS]
{% if fabric_model['BORDERS'] != None %}
{% for sw in fabric_model['BORDERS'].keys() %}
{{ sw }}
{% endfor %}
{% endif %}

[SONIC]
{% for type in fabric_model %}
{% if fabric_model[type] != None %}
{% for sw,sw_data in fabric_model[type].items() %}
{% if sw_data['OS'] == "sonic" %}
{{ sw }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
